* {
  box-sizing: border-box;
  line-height: 1.5rem;
}

a {
   text-decoration: none;
}

/* sectiunea button */

.button a {
  text-decoration: none;
  color: #000080;
}

.button div {
  float:left;  
  display:inline-block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* sectiunea title*/

.title-figure {
  border: 1px solid hsl(60, 20%, 25%);
  float: right;
  text-align: center;
  background-color:hsl(240, 100%, 95%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.title h1 {
  font-family: "Lucida Grande";
  font-style: italic;
  font-size: 2rem;
  border-bottom: 1px solid  hsl(60, 20%, 25%);
}

.title p {
  margin-top: 1.5rem;
}

.title-content  {
  border: 1px solid hsl(60, 20%, 25%);
  list-style-position: inside;
  background-color:hsl(240, 100%, 95%);
  width: 50%;
}

.title-content h3 {
  text-align: center;
}

/* sectiunea plot */

.plot h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(60, 20%, 25%);
}

/* sectiunea gameplay */

.gameplay h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(60, 20%, 25%);
}

.gameplay h3 {
  margin-top:0.5rem;
  font-size:1.2rem;
  margin-bottom:0.5rem;
}

.gameplay figcaption {
  font-size: 0.9rem;
}

.gameplay figure {
  border: 1px solid hsl(60, 20%, 25%);
  float:left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*sectiunea easter egg*/

.easter-egg h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(60, 20%, 25%);
}

/*sectiunea references*/

.references h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(60, 20%, 25%);
}

/*sectiunea external-links*/

.external-links h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid hsl(60, 20%, 25%);
}

.categories li:first-child {
  list-style-type:none;
}

.categories-list {
  border: 1px solid hsl(60, 20%, 25%);
  background-color:hsl(240, 100%, 95%);
}

/* sectiunea footer */

footer {
  display:table;
  text-align: left;
  height: 10vh; 
  width: 100vw;
  font-size: .700rem;
  border-top: 1px solid hsl(60, 20%, 25%);
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

/* inteorgari button*/

@media (min-width: 768px){
  
  .Article {
     width:10%;
    margin:0;
   }
  
 .Talk {
  width:10%;
  margin-right:30%;
  }
  .Read {
  width:10%;
   margin:0;
}
  
.Edit {
  width:10%;
  margin:0;
}
  
.History {
  width:10%;
  margin:0;
}
  
  .search {
  width:20%;
    margin:0;
}
}

/*interogari title*/

@media (min-width: 768px){
  
  .title-content {
    width:15%;
  }
}

/*interogari external-links*/

@media (min-width: 768px) {

 .categories ul {
    list-style-type:none;
   }

.categories li {
   float:left;
   }

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.categories li a{
   display:inline;
   padding: .3rem;
   }

 .categories li::after {
   content: "";
   border-left: 1px solid hsl(60, 20%, 25%);
   }
}

/* interogari footer */

@media (min-width: 768px) {
  
  .footer-wrapper ul{
    list-style-type:none;
  }

  .footer-wrapper li a{
    display:inline-block;
    padding: .4rem;
  }

  .footer-wrapper li {
    float:left;
  }
}

